@model ProjectManagementWebApp.Models.Task

@{
    ViewData["Title"] = "Add";
    ViewData["AddTask"] = "active";
}

<link href="~/assets/bootstrap-dataPicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="~/assets/bootstrap-dataPicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Home")"><i class="fas fa-home"></i> Home</a>
    </li>
    <li class="breadcrumb-item active"><i class="fas fa-tasks"></i> Add New Task</li>
</ol>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <form asp-action="Add" class="form-horizontal">
            <h4><i class="fas fa-tasks" style="color: #1B5E20"></i> Add New Task</h4><hr />
            
            @Html.Raw(ViewData["Message"])

            <div class="form-group">
                <label asp-for="ProjectId">Projects</label><br />
                <select asp-for="ProjectId" class="form-control" asp-items="@ViewBag.Projects">
                    <option value="">--Select--</option>
                </select>

                <span asp-validation-for="ProjectId" style="color: red;"></span>
            </div>

            <div class="form-group">
                <label asp-for="ToUserId">User</label><br />
                <select asp-for="ToUserId" class="form-control">
                    <option value="">--Select--</option>
                </select>

                <span asp-validation-for="ToUserId" style="color: red;"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description">Description</label><br />
                <input type="text" asp-for="Description" class="form-control"/>

                <span asp-validation-for="Description" style="color: red;"></span>
            </div>

            <div class="form-group">
                <label asp-for="DueDate">Due Date</label><br />
                <input type="text" asp-for="DueDate" class="form-control" />

                <span asp-validation-for="DueDate" style="color: red;"></span>
            </div>

            <div class="form-group">
                <label asp-for="Priority">Priority</label><br />
                <select asp-for="Priority" class="form-control">
                    <option value="">--Select--</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>

                <span asp-validation-for="Priority" style="color: red;"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" style="width: 100%" />
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/bootstrap-dataPicker/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {
        $("#ProjectId").change(function () {
            var projectId = $("#ProjectId").val();

            $("#ToUserId").empty();
            $("#ToUserId").append('<option value="">--Select--</option>');
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAssignedUserByProjectId", "Task")',
                data: { projectId: projectId },
                traditional: true,
                success: function (data) {
                    $.each(data, function (key, value) {
                        $("#ToUserId").append('<option value='+value.id+'>'+value.name+'</option>');
                    });
                }
            });
        });
    });

    $('#DueDate').datepicker({
        format: "mm/dd/yyyy",
        todayBtn: "linked",
        daysOfWeekHighlighted: "5",
        autoclose: true
    });
</script>